<!-- Start: Pretty Footer -->
<footer>
  <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
          <h3><a href="/">Your own<span> | Musix </span></a></h3>
          <p class="links"><a href="/">Home</a><strong> · </strong><a href="{% url 'album' category='Hindi' %}">Hindi</a><strong> · </strong><a href="{% url 'album' category='English' %}">English</a><strong> · </strong><a href="{% url 'album' category='Punjabi' %}">Punjabi</a><strong> · </strong><a href="#">Others</a><strong> · </strong><a href="#">Contact</a></p>
          <p
              class="company-name">Your own | Musix © 2020</p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
          <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
              <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
          </div>
          <div><i class="fa fa-envelope footer-contacts-icon"></i>
              <p> <a href="#" target="_blank">support@company.com</a></p>
          </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
          <h4>About the company</h4>
          <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet. </p>
          <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i class="fa fa-github"></i></a></div>
      </div>
  </div>
</footer>
<!-- End: Pretty Footer -->

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
