{% include 'header.html'%}
{% load static %}
      <!--Image Slider-->
      <section class="songs hindi">
        <h1>HINDI</h1>
        <h3>Chartbusters</h3>
        <div class="click-to-listen"><a href="{% url 'album' category='Hindi' %}">Click to Listen &nbsp;<i class="fa fa-star"></i></a><a href="#"></a></div><img class="img-fluid" src="{% static 'img/music1.jpg' %}"></section>
    <section class="songs english">
        <h1>ENGLISH</h1>
        <h3>Chartbusters</h3>
        <div class="click-to-listen"><a href="{% url 'album' category='English' %}">Click to Listen &nbsp;<i class="fa fa-star"></i></a><a href="#"></a></div><img class="img-fluid" src="{% static 'img/music3.jpg' %}"></section>
    <section class="songs hindi">
        <h1>PUNJABI</h1>
        <h3>Chartbusters</h3>
        <div class="click-to-listen"><a href="{% url 'album' category='Punjabi' %}">Click to Listen&nbsp;&nbsp;<i class="fa fa-star"></i></a><a href="#"></a></div><img class="img-fluid" src="{% static 'img/music2.jpg' %}"></section>
    <div class="row no-gutters songs-grid">
        <div class="col-md-6">
            <div class="songs-small" style="background-image: url(&quot;./static/img/Piano%20wallpaper.jpg&quot;);background-size: cover;background-position: center;background-repeat: no-repeat;">
                <h3>The Key To Happiness&nbsp;</h3>
                <h4>Is Making The Music Louder Than The Chaos.<br><br></h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="songs-small" style="background-image: url(&quot;./static/img/1.jpg&quot;);background-size: cover;background-position: center;background-repeat: no-repeat;">
                <h3>A Spoonful 90s Music At Midnight,&nbsp;</h3>
                <h4>Stirring In Cup Of My Ear,Sweetest Taste Ever.<br><br></h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="songs-small" style="background-image: url(&quot;./static/img/download.jpg&quot;);background-size: cover;background-position: center;background-repeat: no-repeat;">
                <h3>Turn Up The Music.&nbsp;</h3>
                <h4>Turn Down The Drama.<br><br></h4>
            </div>
        </div>
        <div class="col-md-6">
            <div class="songs-small" style="background-image: url(&quot;./static/img/whitenoten.png&quot;);background-size: cover;background-position: center;background-repeat: no-repeat;">
                <h3>You Call It Music&nbsp;</h3>
                <h4>I Call It My Therapist<br><br></h4>
            </div>
        </div>
    </div>
  
        
  {%include 'footer.html'%}
  <script >
    if("serviceWorker" in navigator) {
      navigator.serviceWorker.register("./pwabuilder-sw.js", {
          scope: "/"
      
      });
    }
  </script>
</body>
</html>